* {
  font-family: 'Rubik', sans-serif;
}

/* Start Header */
.header {
  height: 40vh;
  background: url('../images/pattern-bg.png');

  display: flex;
  align-items: center;
  flex-direction: column;
}

.header_title {
  text-align: center;
  color: white;
}

.header_search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_search__input {
  height: 50px;
  width: 450px;

  border: none;
  border-radius: 10px 0px 0px 10px;
  padding-left: 15px;
}

.header_search__icon {
  height: 50px;
  width: 50px;
  background: #000;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0px 10px 10px 0px;
}
/* End Header */

/* Start Infos */
.sectionInfos {
  width: 70%;
  margin: 0 auto;
  transform: translateY(-50%);
}

.sectionInfos_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  background-color: #fff;
  border-radius: 20px;
  height: 150px;
}
.sectionInfos_grid__box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}
.sectionInfos_grid__box::before {
  content: ' ';
  position: absolute;
  width: 1px;
  right: 1px;
  height: 30px;
  background-color: hsl(0, 0%, 59%);
}

.sectionInfos_grid__box span {
  color: hsl(0, 0%, 59%);
  font-size: 12px;
}

.sectionInfos_grid__box p {
  font-size: 22px;
  font-weight: bold;
}
/* End Infos */
/* Start Map */
.map {
  margin-top: -25vh;
  height: 60vh;
  background-color: gray;
}
/* End Map */
